* {
    font-family: 'Waiting for the Sunrise', cursive; 
}
body {

    font-size:30px; 
    margin: 10px 50px; 
    letter-spacing: 6px; 
    font-weight: bold;
  }

.invisible {
    font-weight: bold;
    padding: 10px;
    visibility: hidden;
    font-size: 40px;
  }

.start {
    padding-top: 100px;
    text-align: center;
}

#choix {
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
  visibility: hidden;
}

.displaydiv {
  font-weight: bold;
  font-size: 30px;
}